.html {
    font-size: 30px;
}
.password {
    width: 70vw;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.text {
    padding: 0 10px;
    height: 55px;
    width: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.pass {
    border: 0;
    font-size: 1.5rem;
    width: 540px;
}
.radiobuttons {
    width: 465px;
    display: flex;
    flex-direction: column;
}

.radio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    padding: 5px 0;

}

.num {
    padding: 0 50px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.num label {
    font-size: 1.8rem;
    padding-right: 35px;
}

.num input {
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.condition {
    font-size: 1rem;
}

.cursor {
    cursor: pointer;
}

.copy {
    background-color: white;
    border: 0;
    padding-left: 30px;
}

.textDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textDiv span {
    padding-left: 10px;
}

